/* Background Animation */
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.url-shortener-body .background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #ffffff33;
  animation: animate 24s linear infinite;
}

.url-shortener-body .background li:nth-child(0) {
  left: 9%;
  width: 148px;
  height: 148px;
  bottom: -148px;
  animation-delay: 1s;
}

.url-shortener-body .background li:nth-child(1) {
  left: 58%;
  width: 80px;
  height: 80px;
  bottom: -80px;
  animation-delay: 4s;
}

.url-shortener-body .background li:nth-child(2) {
  left: 57%;
  width: 150px;
  height: 150px;
  bottom: -150px;
  animation-delay: 5s;
}

.url-shortener-body .background li:nth-child(3) {
  left: 86%;
  width: 72px;
  height: 72px;
  bottom: -72px;
  animation-delay: 1s;
}

.url-shortener-body .background li:nth-child(4) {
  left: 49%;
  width: 83px;
  height: 83px;
  bottom: -83px;
  animation-delay: 11s;
}

.url-shortener-body .background li:nth-child(5) {
  left: 76%;
  width: 101px;
  height: 101px;
  bottom: -101px;
  animation-delay: 3s;
}

.url-shortener-body .background li:nth-child(6) {
  left: 4%;
  width: 146px;
  height: 146px;
  bottom: -146px;
  animation-delay: 24s;
}

.url-shortener-body .background li:nth-child(7) {
  left: 68%;
  width: 130px;
  height: 130px;
  bottom: -130px;
  animation-delay: 7s;
}

.url-shortener-body .background li:nth-child(8) {
  left: 73%;
  width: 106px;
  height: 106px;
  bottom: -106px;
  animation-delay: 22s;
}

.url-shortener-body .background li:nth-child(9) {
  left: 65%;
  width: 143px;
  height: 143px;
  bottom: -143px;
  animation-delay: 27s;
}

.url-shortener-body .background li:nth-child(10) {
  left: 38%;
  width: 73px;
  height: 73px;
  bottom: -73px;
  animation-delay: 48s;
}

.url-shortener-body .background li:nth-child(11) {
  left: 29%;
  width: 129px;
  height: 129px;
  bottom: -129px;
  animation-delay: 36s;
}

.url-shortener-body .background li:nth-child(12) {
  left: 48%;
  width: 162px;
  height: 162px;
  bottom: -162px;
  animation-delay: 35s;
}
