.movies-hub-body header .search {
  border: 2px solid #22254b;
}

.movies-hub-body main .movie {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.movies-hub-body main .movie .movie-info span.green {
  color: lightgreen;
}

.movies-hub-body main .movie .movie-info span.orange {
  color: orange;
}

.movies-hub-body main .movie .movie-info span.red {
  color: red;
}

.movies-hub-body main .movie .overview {
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.movies-hub-body main .movie:hover .overview {
  transform: translateY(0);
}
