.password-generator-body .container {
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
}

.password-generator-body .container .result-container #result {
  word-wrap: break-word;
  max-width: calc(100% - 40px);
}

.password-generator-body .btn {
  border: none;
  background-color: #3b3b98;
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
}

.password-generator-body .btn:active {
  transform: scale(0.98);
}

.password-generator-body .container .result-container .btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.password-generator-body .container .settings .setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.password-generator-body .container .settings .setting input {
  color: #000;
}

.password-generator-body .btn.btn-large {
  display: block;
  width: 100%;
}

.password-generator-body #toasts .toast {
  background-color: var(--right-btn-hover-color);
  color: #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0.5rem;
}
