.sticky-notes-body .note-form textarea::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.sticky-notes-body .note-form textarea::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.sticky-notes-body .note-form textarea::-webkit-scrollbar-thumb {
  background-color: #11171a;
  border-radius: 10px;
}

.sticky-notes-body .note .close:hover {
  transform: scale(1.6);
}

.sticky-notes-body .note .text::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.sticky-notes-body .note .text::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.sticky-notes-body .note .text::-webkit-scrollbar-thumb {
  background-color: #11171a;
  border-radius: 10px;
}
