.split-landing-page-body .container .split.left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 84, 236, 0.7);
}

.split-landing-page-body .container .split.right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 43, 43, 0.8);
}

.split-landing-page-body .container .split .btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border: 0.2rem solid white;
  font-size: 1rem;
  font-weight: bold;
  width: 15rem;
  padding: 1.5rem;
}

.split-landing-page-body .container .split.left .btn:hover {
  background-color: rgba(87, 84, 236, 1);
  border-color: rgba(87, 84, 236, 1);
}

.split-landing-page-body .container .split.right .btn:hover {
  background-color: rgba(28, 122, 28, 1);
  border-color: rgba(28, 122, 28, 1);
}

.split-landing-page-body .container.hover-left .left {
  width: 75%;
}

.split-landing-page-body .container.hover-left .right {
  width: 25%;
}

.split-landing-page-body .container.hover-right .left {
  width: 25%;
}

.split-landing-page-body .container.hover-right .right {
  width: 75%;
}

.split-landing-page-body .container .split.left,
.split-landing-page-body .container .split.left::before,
.split-landing-page-body .container .split.right::before,
.split-landing-page-body .container .split.right {
  transition: all 1000ms ease-in-out;
}

@media (max-width: 800px) {
  .split-landing-page-body .container .split h1 {
    font-size: 2rem;
    top: 30%;
  }

  .split-landing-page-body .container .split .btn {
    width: 12rem;
    padding: 1.2rem;
  }
}

@media (max-width: 1400px) {
  .split-landing-page-body .container {
    position: inherit;
  }
}
