.split-landing-page-body .container.hover-left .left {
  width: 75%;
}

.split-landing-page-body .container.hover-left .right {
  width: 25%;
}

.split-landing-page-body .container.hover-right .left {
  width: 25%;
}

.split-landing-page-body .container.hover-right .right {
  width: 75%;
}

.split-landing-page-body .container .split.left,
.split-landing-page-body .container .split.left::before,
.split-landing-page-body .container .split.right::before,
.split-landing-page-body .container .split.right {
  transition: all 1000ms ease-in-out;
}

@media (max-width: 800px) {
  .split-landing-page-body .container .split h1 {
    font-size: 2rem;
    top: 30%;
  }

  .split-landing-page-body .container .split .btn {
    width: 12rem;
    padding: 1.2rem;
  }
}

@media (max-width: 1400px) {
  .split-landing-page-body .container {
    position: inherit;
  }
}
