.basic-calculator-body {
  background: linear-gradient(to right, #00aaff, #00ff6c);
}

.basic-calculator-body .calculator-grid {
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.basic-calculator-body .calculator-grid button {
  border: 1px solid white;
}

.basic-calculator-body .calculator-grid button:hover,
.basic-calculator-body .calculator-grid button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.basic-calculator-body .calculator-grid .span-two {
  grid-column: span 2;
}

.basic-calculator-body .calculator-grid .output {
  grid-column: 1 / -1;
  word-wrap: break-word;
}
