.github-profiles-body .user-form input {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.github-profiles-body main .card {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.github-profiles-body main .card .avatar {
  border: 10px solid #2a2a72;
}

.github-profiles-body main .card .user-info ul li {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.github-profiles-body main .card .user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

@media (max-width: 500px) {
  .github-profiles-body main .card {
    flex-direction: column;
    align-items: center;
  }

  .github-profiles-body .user-form {
    max-width: 400px;
  }
}
