@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.canvas-body canvas {
  border: 2px solid steelblue;
}

.canvas-body .toolbox {
  border: 1px solid slateblue;
}

.canvas-body .toolbox > * {
  background-color: #fff;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  height: 40px;
  width: 40px;
  margin: 0.25rem;
  padding: 0.25rem;
}

.canvas-body .toolbox > *:last-child {
  margin-left: auto;
}
