@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

* {
  box-sizing: border-box;
}

.main-page {
  background: -webkit-repeating-linear-gradient(
    -45deg,
    #71b7e6,
    #69a6ce,
    #b98acc,
    #ee8176,
    #b98acc,
    #69a6ce,
    #9b59b6
  );
  background-size: 400%;
}

.paginationButtons {
  height: 40px;
  display: flex;
  justify-content: center;
}

.paginationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2f3137;
  color: white;
  cursor: pointer;
}

.paginationButtons a:hover {
  color: #2f3137;
  background-color: white;
  border: 1px solid white;
}

.paginationActive a {
  color: white;
  background-color: #2f3137;
}

.paginationDisabled a {
  color: white;
  pointer-events: none;
  background-color: gray;
  border: none;
}

/* Wiki Seeker */
.searchmatch {
  font-weight: 700;
  color: #a84fff;
}

/* Screenshot */
.spinner::before,
.spinner::after {
  position: absolute;
  display: block;
  content: "";
  animation: spinner 1.8s ease-in-out infinite;
  height: 10px;
  border-radius: 5px;
}

.spinner::before {
  left: 10px;
  top: -20px;
  width: 40px;
  background: #ef4836;
}

.spinner::after {
  bottom: -20px;
  width: 35px;
  background: #f5ab35;
}

@keyframes spinner {
  0% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(40px);
  }
}
