.feedback-body .panel-container {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  max-width: 500px;
}

.feedback-body .panel-container .ratings-container .rating {
  flex: 1;
  cursor: pointer;
  padding: 20px;
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback-body .panel-container .ratings-container .rating:hover,
.feedback-body .panel-container .ratings-container .rating.active {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback-body .panel-container .ratings-container .rating img {
  width: 40px;
}

.feedback-body .panel-container .ratings-container .rating small {
  color: #555;
  display: inline-block;
  margin: 10px 0 0;
}

.feedback-body .panel-container .ratings-container .rating:hover small,
.feedback-body .panel-container .ratings-container .rating.active small {
  color: #111;
}

.feedback-body .panel-container .btn.active {
  transform: scale(0.98);
}
